@font-face {
    font-family: 'Plus Jakarta Sans';
    src: url(fonts/PlusJakartaSans-Bold.ttf);
}
body {
    font-family: sans-serif;
    font-weight: bold;
}
h1 {
    font-family: 'Plus Jakarta Sans', 'Sans-Serif';
    font-size: 50px;
    font-weight: bold;
   text-align: center;
}

footer {
    padding: 15px 0;
    text-align: center;
    
}